.radar {
  background: $bg-radar;
}

.recharts-polar-angle-axis text {
  fill: #ffff; /* Couleur du texte */
  font-size: 12px; /* Taille de la police */
  font-weight: 400; /* Poids de la police */
  /* Autres styles CSS ici */
}
