.mainContainer {
  display           : flex;
  flex-direction    : column;
  height            : 100%;
  justify-content   : space-around;
  margin            : 0 auto;
  position          : relative;
  .green,
  .red {
    position        : absolute;
    right           : 0;
    top             : 0;
  }
  .green {
    color           : green;
  }
  .red {
    color           : red;
  }
  main {
    display         : flex;
    flex-direction  : column;
    height          : 48.6875rem;
    justify-content : space-around;
  }
}
.noData {
  color             : red;
  margin            : auto 0;
  text-align        : center;
}
