.keyFigures {
  align-items       : center;
  display           : flex;
  img {
    margin-left     : 2rem;
  }
  .countContainer {
    line-height     : 1.5rem;
    margin-left     : 1.5rem;
    h2 {
      font-size     : 1.25rem;
      font-weight   : 700;
    }
    p {
      font-size     : 0.875rem;
    }
  }
}
