.average {
  background: $primary-color;
  position: relative;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.021);
  width: 258px;
  height: 263px;
  &__title {
    display: flex;
    color: $color-white;
    opacity: 0.6;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 15px 0px 0px 35px;
  }
  &__responsiveContainerCharts {
    position: absolute;
    top: 20%;
    margin-left: 2%;
  }
}

.customTooltipLine {
  display: flex;
  background-color: white;
  width: 39px;
  height: 25px;
  box-sizing: border-box;
  padding: 6px 0px;
  color: black;
  font: {
    size: 12px;
    weight: 500;
  }
  p {
    margin: auto;
  }
}

.rectangleCursor {
  width: 40px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
