.activityCharts {
  &__title {
    color: #20253a;
    font-size: 0.9375rem;
    font-weight: 500;
  }
  &__infoPoids {
    display: flex;
    gap: 50px;
    color: #74798c !important;
    font-size: 0.875rem;
    font-weight: 500;
  }
}

.customTooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $primary-color;
  width: 55px;
  height: 75px;
  box-sizing: border-box;
  padding: 6px 0px;
  color: white;
  border-radius: 5px;
  font: {
    size: 12px;
    weight: 500;
  }
  p {
    margin: auto;
  }
}
