/* ---------------------------------------- */
/* ==          VARIABLES             */
/*---------------------------------------- */

$primary-color: #ff0101;
$bg-color: #020203;
$bg-radar: #282d30;
$color-white: #fff;
$bg-container: #fbfbfb;
