/* ---------------------------------------- */
/* ==          VARIABLES             */
/*---------------------------------------- */

$primary-color: #ff0101;
$bg-color: #020203;
$color-white: #fff;
$bg-container: #dad9d9;
