// Profil.scss
.profil {
  &__bar {
    display: flex;
  }
  &__wrapper {
    display: flex;
    align-items: flex-start;
    margin-left: 10rem;
    margin-top: 3.6875rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    border: dashed 1px red;
    width: 85%;
    position: relative;
  }
  &__wrapperContainer {
    display: flex;
    flex-direction: column;
  }

  // Element "header"
  &__header {
    flex: 0 0 100px;
    background-color: #f0f0f0;
  }

  // Element "sidebar"
  &__sidebar {
    flex: 0 0 200px;
    background-color: #d3d3d3;
  }

  // Element "container"
  &__activityCharts {
    background: $bg-container;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.021);
    box-sizing: border-box;
    font-size: 0.87rem;
    margin-bottom: 2rem;
    padding: 1.5rem 1.875rem;
    width: 800px;
    height: 320px;
  }
  &__littleChart {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.card {
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.021);
  height: 15.15rem;
  width: 15.8rem;
}
